@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --green-100: rgb(137,186,156);
  --base-black: #000;
  --base-background: #f9f9f9;

  --text-grey:rgb(160,160,160);
  
  
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
